.slide-outer-div{
    margin: auto;
    width: 60%;
    padding: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:270px;
    width:400px;
    max-height: 50%;
    max-width: 100%;
}

.left{
    top:85vh;
    position:absolute;
    left:0vw;
}
.right{
    top:85vh;
    position:absolute;
    right:0vw;
}

.lower-image{
    max-height:80px;
    max-width: 100px;
}

.text{
    font-family: 'Roboto Mono', monospace;
}

#light{
    color:yellow,
}

#heading{
    font-family: 'Lora', serif;
font-family: 'Palette Mosaic', cursive;
font-family: 'Roboto Mono', monospace;
}