.selectQuest__main-screen {
  background-color: #f5f8fb;
  display: block;
  margin-bottom: 40px;
}
.select-quest-header {
  background-color: #6e48aa;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-quest_h5 {
  font-size: 1.25rem;
  color: #f5f8fb;
}

.select-quest-body {
  background-color: #f5f8fb;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.selectQuest__card {

  height: fit-content;
  min-height: 225px;
  flex-direction: row;
  margin-top: 10px;
  width: 80%;
  margin: 10%;
  border: 1px solid #6e48aa;
  box-shadow: 0px 0px 10px #6e48aa;
  border-radius: 15px;
}

.selectQuest__card img {
  width: 30%;
  height:150px ;
  padding-top:5%;
}

.selectQuest__card-title {
  background-color: #6e48aa;
}
