@media only screen and (max-width: 600px) {
    .btn-text {
      display: none;
    }
    .monster-section{
      width:80%;
      margin:auto;
      height:300px;
    }
  }

  @media only screen and (min-width: 900px) {
    .btn-mobile{
      display: none;
    }
  }

/* header */
.transaction_header {
  background-color: #6e48aa;
  min-height: 100px;
  position: relative;
}
