.navigation-tab {
  bottom: 0;
  font-size: 13px;
  border-top: 2px solid white;
  position: fixed;
  width: 100%;
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: #6e48aa !important;
  padding-top: 6px;
}

.MuiBottomNavigation-root {
  height: 56px;
  border: 2px solid #6e48aa;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
