.main-container {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f5f8fb;
}

.smallImages {
  width: 45%;
  margin: 2%;
  border-radius: 10px;
  border: 2px solid #6e48aa;
  box-shadow: 0px 0px 10px #6e48aa;
}

.bigImages {
  width: 95%;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  border: 2px solid #6e48aa;
  box-shadow: 0px 0px 10px #6e48aa;
}

.box-container {
  /* background-color: #6e48aa; */
  box-shadow: 0px 0px 10px #6e48aa;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
  text-align: center;
}

.section-header {
  font-family: serif;
  color: black;
  font-weight: bold;
}

.rewards_header {
  height: 75px;
  padding: 20px;
  background-color: #6e48aa;
  color: white;
  text-align: center;
  margin: -20px -20px 0;
}

.reward_displayScore_container {
  margin-left: 72%;
}
