.body{
    background-color: blueviolet;
}



.content {
    height:70vh; /* scroll *needs* height! */
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: center;

  }

  .column {
    overflow:auto; /* scrollable */
    padding: 20px;
    background-clip: content-box;
    background-color: #8a2be2;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}  

  .main-screen{
    height:100vh;
    text-align: center;
    overflow: hidden;
    background-color: blueviolet;
  }

